${ util.include('header', [title:'Account confirmation']) }
<div class="col-sm-6" style="float: none; margin: 0 auto;">
<% if (result.account) { %>
        <div class="panel panel-success">
            <div class="panel-heading panel-xs">
                <h4>Account confirmation successful.</h4>
            </div>
            <div class="panel-body">
                <h4>Your new account ${result?.account?.jid} is now active!</h4>
            </div>
        </div>
<% } else { %>
    <div class="panel panel-danger">
        <div class="panel-heading panel-xs">
            <h4>Account confirmation failure.</h4>
        </div>
        <div class="panel-body">
            <h4>Error: ${result?.error?.message}</h4>
        </div>
    </div>
<% } %>
</div>
${ util.include('footer') }