${ util.include('header', [title:'Setup: ' + page.title]) }
<form method='POST' action="?step=${ page.nextPage() }">
<div class="panel panel-default">
    <div class="panel-body">
<% if (page.containsACS()) { %>
<p>This installation package contains a free trial version of the Tigase Advanced Clustering Strategy (&quot;ACS&quot;) software, which you as a licensee may use for the term of your agreement with Tigase.</p>
<p>ACS is not open source software, it is Tigase&#96;s proprietary software and constitutes the valuable intellectual property of Tigase.</p>
<p>The free trial granted hereunder does not grant you the right to sublicense ACS to third parties, to copy ACS for third party use, or to use ACS in connection with production systems or for commercial purposes. ACS is provided free of charge for non-commercial testing and development purposes only. Any use of ACS other than for non-commercial testing and development purposes requires the purchase of a license from Tigase.</>
<p>If you activate the ACS software under this free trial, you should understand that it will send certain statistical information to Tigase&#96;s servers on a regular basis. If ACS cannot access our servers to send this statistical information, it will stop working. If this occurs, please contact your Tigase representative to resolve the issue and discuss upgrading to a full version of the ACS software. If ACS is installed but not activated, no statistical information will be sent to Tigase&#96;s servers.</>
<p>If you enjoy your free trial version of ACS, please contact your Tigase representative to obtain a commercial license for the full version of the ACS software. The full commercial version of ACS does not send statistical information to Tigase's servers.</>
<p>By activating this free trial version of ACS you agree and accept that certain statistical information of yours (such as DNS domain names, host names, number of online users, number of cluster nodes, etc.) which may be considered confidential and proprietary, will be sent to Tigase. You accept and confirm that such information, which may be considered confidential or proprietary, may be transferred to Tigase&#96;s servers. You hereby consent to such transfer and waive any rights to this information. You also hereby agree that you will not pursue any remedy at law as a result of the information transfer.</>
<% } else { %>
<p>This installation package contains an open source version of Tigase XMPP Server, which is available to you under the <a href="license/agpl.html" target="_blank">GNU Affero General Public License</a>.</p>
<% } %>
<% def fieldFn = { q, label, valueControl -> %>
    <div class="form-group">
        <label class="control-label" for='${q.getName()}'><%= label %></label>
        <% valueControl(q); %>
    </div>
<% } %>

<% def q = page.getQuestion('acsName') %>
<% fieldFn(q, "To confirm please enter your name or company name below", { q1 -> %>
<input class="form-control" type='text' size='40' name='${q.getName()}' required value='<%= q.getValue() %>' />
<% }); %>

    </div>
</div>
<button class="btn btn-default" type="submit" name="next">Next</button>

</form>
${ util.include('footer') }