<% def title = 'Edit configuration';
def saved = request.getParameter("config");
def error = null;
if (saved) {
    try {
        def initFile = new File("etc/init.properties");
        initFile.renameTo(new File("etc/init.properties.bak"));
        initFile.setText(saved);
        title = "Configuration updated";
    } catch (Throwable ex) {
        error = ex;
        title = "Error";
    }
} %>
${ util.include('header', [title:'Setup: ' + title]) }
<div style="width: 100%; text-align: center">
    <% if ((!saved) || (error != null)) { %>
<form method='POST' style="margin: 1em 2em; " >
    <% if (error) { %>
    <h3 style="color: red">Update of configuration file failed: ${ex.getMessage()}</h3>
    <label for='config'>Unsaved configuration:</label><br/>
    <% } else { %>
    <label for='config'>Current Tigase XMPP Server configuration:</label><br/>
    <% } %>
<textarea name='config' rows=40 cols=140 style="width: 100%">
<%= saved ?: new File("etc/init.properties").getText() %>
</textarea>

<h3 style="display: inline;">Do you wish to save this configuration to <i>etc/init.properties</i> file?</h3>     <button type="submit" style="margin-top: 1em; margin-left: 100px;">Save</button>

</form>
    <% } else { %>
<h3>Configuration file was successfully updated with new configuration.<br/>File with old configuration was backed up as <i>init.properties.bak</i>.<br/><br/>Please restart server to apply new configuration.</h3>
<%  } %>
</div>
${ util.include('footer') }