<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta charset="UTF-8"/>
<title>Tigase XMPP Server: ${title}</title>
${ util.inlineCss('bootstrap.min.css') }
${ util.inlineCss('custom.css') }
${ util.inlineCss('http-api-custom.css') }
</head>
<body>
<noscript>
	<div style="border: 2px solid red; margin: 3px">
		<div style="color: red; font-weight: bold; padding: 10px "><span>WARNING:</span><span>Your browser does not support JavaScript or JavaScript is disabled.</span></div>
		<div style="font-size: 0.9em; padding: 5px 15px">Tigase XMPP Server Setup uses JavaScript to validate chosen configuration options - it may not work properly without JavaScript and may result in an incorrect configuration.<br/>We strongly recommend changing web browser or enabling JavaScript in web browser configuration.</div>
	</div>
</noscript>
<div id="wrapper">
<nav class="navbar navbar-default navbar-static-top" role = "navigation" style="margin-bottom: 0;">
	<div class="navbar-header">
		<a class="navbar-brand" href="/" id="logo">
			<p>${title}</p>
		</a>
	</div>
	<% if (currentStep != 'edit') { %>
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<% setup.pages.eachWithIndex { p, idx -> %>
				<li>
					<a ${((idx+1) == currentStep) ? 'class="active"' : ''} href="?step=${idx+1}"><i class="fa fa-fw"></i>${p.title}</a>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
	<% } %>
</nav>
<div id="page-wrapper" ${currentStep == 'edit' ? 'class="no-sidebar"' : ''}>
	 <div class="row">
		 <div class="col-sm-12 col-md-12 col-lg-12">
			 <div class="panel-body">
