${ util.include('header', [title:'Setup: ' + page.title]) }
<h3>Security of setup.</h3>
<h3>By default Tigase XMPP Server is configured to allow access to this setup page only user authorized by JID and password listed as admins.</h3>
<h3>However in rare conditions it may be impossible to access database for authentication. In this case we use separate admin credentials stored in <i>etc/init.properties</i> file.</h3>
<h3>Please enter username and password you wish to use in this situation. If you leave it blank, setup will be inaccessible without connection to database.</h3>
<form method='POST' action="?step=${ page.nextPage() }"><% def q = page.getQuestion('setupUser'); %>
	<label for='${q.getName()}'>Username:</label>
	<input name='${q.getName()}' type='text' value="${q.getValue() ?: ''}" /><br/>
	<div style='padding-top: 1em'></div><% q = page.getQuestion('setupPassword'); %>
	<label for='${q.getName()}'>Password:</label>
	<input name='${q.getName()}' type='password' value="${q.getValue() ?: ''}"/><br/>
	<div style='padding-top: 1em'></div>
	<button type="submit">Next</button>
</form>
${ util.include('footer') }