${ util.include('header', [title:'Setup: ' + page.title]) }
<h3>On this panel you can specify basic configuration settings for the Tigase server.</h3>
<h3>Based on your selection here more configuration options might be presented later on. After the configuration is complete init.properties file will be created.</h3>
<h3>You can optionally restart the server at the end of the process if you like.</h3>
<form method='POST' action="?step=${ page.nextPage() }">
<div style='padding-top: 1em'></div><% def q = page.getQuestion('configType') %>
<label for='${q.getName()}'>Configuration type:</label>
<select name='${q.getName()}'>
<% [
    [ value:'Default', label:'Default installation' ],
    [ value:'SessionManagerOnly', label:'Session Manager only' ],
    [ value:'ConnectionManagersOnly', label:'Network connectivity only' ]
   ].each {
 %>
    <option value='${it.value}' ${ q.isSelected(it.value) ? 'selected' : '' } >${it.label}</option>
<% } %>
</select>
<br/>
<div style='padding-top: 1em'></div><% q = page.getQuestion('virtualDomains') %>
<label for='${q.getName()}'>Your XMPP (Jabber) domains</label>
<input name='${q.getName()}' type='text' size='30' value='${q.getValue()}' />
<br/>
<div style='padding-top: 1em'></div><% q = page.getQuestion('admins') %>
<label for='${q.getName()}'>Server administrators</label>
<input name='${q.getName()}' type='text' size='30' value='${q.getValue()}' />
<br/>
<div style='padding-top: 1em'></div><% q = page.getQuestion('adminPwd') %>
<label for='${q.getName()}'>Admin password</label>
<input name='${q.getName()}' type='password' size='30' value='${q.getValue()}' />
<br/>
<div style='padding-top: 1em'></div><% q = page.getQuestion('dbType') %>
<label for='${q.getName()}'>Select database</label>
<select name='${q.getName()}' id='dbType' onchange="
	var select = document.getElementById('dbType');
	for (var i=0; i<select.children.length; i++) {
    var it = select.children[i];
    if (it.value == select.value) {
		var warn = document.getElementById('dbTypeWarning');
		warn.innerHTML = it.getAttribute('warning') || '';
	}
}
">
<% [
	[ value:'Derby', label:'Derby (built-in database)' ],
	[ value:'MySQL', label:'MySQL' ],
	[ value:'PostgreSQL', label:'PostgreSQL' ],
	[ value:'SQLServer', label:'SQLServer', warning:'You have selected MS SQL Server as your database. While we provide you, for easy install, with open-source jTDS JDBC driver allowing to connect to MS SQL Server, we recommend using JDBC driver from Microsoft.' ],
	[ value:'Other', label:'Other...' ]
   ].each {
 %>
 <option value='${it.value}' ${ q.isSelected(it.value) ? 'selected' : '' } ${it.warning ? 'warning="' + it.warning + '"' : ''} >${it.label}</option>
<% } %>
</select><span id='dbTypeWarning' style='color: red; font-size:0.8em;'></span>
<br/>
<div style='padding-top: 1em'></div><% q = page.getQuestion('advancedConfig') %>
<label for='${q.getName()}'>Advanced configuration options</label>
<input name='${q.getName()}' type='checkbox' ${ q.isSelected("true") ? "checked" : "" } />

<div style='padding-top: 1em'></div>
<button type="submit">Next</button>

</form>
${ util.include('footer') } 