${ util.include('header', [title:'Setup: ' + page.title]) }
<h3>You have selected ${setup.config.dbType} database. This database needs additional configuration parameters. Please enter all required information.</h3>
<form method='POST' action="?step=${ page.nextPage() }">
<% page.getQuestions().each { q -> %>
<label for='${q.getName()}'>${q.getLabel()} :</label>
<% if (q.getName().endsWith("useSSL")) { %><input type='checkbox' size='30' name='${q.getName()}' <% if (q.isSelected("true")) { %>checked<% } %> /><% } else { %>
<br/><input type='text' size='90' name='${q.getName()}' value='${q.getValue()}' /><% } %>
<br/>
<div style='padding-top: 1em'></div>
<% } %>

<div style='padding-top: 1em'></div>
<button type="submit">Next</button>

</form>
${ util.include('footer') } 