<%  
	def defPlugins = [
		[ key: 'jabber:iq:auth', label: 'Non-SASL Authentication', value: true ],
		[ key: 'urn:ietf:params:xml:ns:xmpp-sasl', label: 'SASL Authentication', value: true ],
		[ key: 'urn:ietf:params:xml:ns:xmpp-bind', label: 'Resource Bind', value: true ],
		[ key: 'urn:ietf:params:xml:ns:xmpp-session', label: 'Session bind', value: true ],
		[ key: 'jabber:iq:register', label: 'User registration', value: true ],
		[ key: 'jabber:iq:roster', label: 'Roster management', value: true ],
		[ key: 'presence-state', label: 'Presence management (delivery)', value: true ],
		[ key: 'presence-subscription', label: 'Presence management (subscription)', value: true ],
		[ key: 'basic-filter', label: 'Basic filter', value: true ],
		[ key: 'domain-filter', label: 'Domain filter', value: true ],
		[ key: 'jabber:iq:privacy', label: 'Privacy lists', value: true ],
		[ key: 'jabber:iq:version', label: 'Software version', value: true ],
		[ key: 'http://jabber.org/protocol/stats', label: 'Server statistics', value: true ],
		[ key: 'starttls', label: 'TLS', value: true ],
		[ key: 'msgoffline', label: 'Offline message storage (old)', value: false ],
		[ key: 'vcard-temp', label: 'vCard', value: true ],
		[ key: 'http://jabber.org/protocol/commands', label: 'Ad-hoc commands', value: true ],
		[ key: 'jabber:iq:private', label: 'Private data storage', value: true ],
		[ key: 'urn:xmpp:ping', label: 'Ping', value: true ],
		[ key: 'pep', label: 'Personal eventing (PEP)', value: true ],
		[ key: 'zlib', label: 'Zlib stream compression (new, experimental)', value: true ],
		[ key: 'message-archive-xep-0136', label: 'Message archive plugin (xep 0136) required by archive component', value: true ],
		[ key: 'amp', label: 'Advanced Message Processing (AMP with offline message store)', value: true ]
	];
	defPlugins = defPlugins.collectEntries { [it.key, it.label] };
%>
${ util.include('header', [title:'Setup: ' + page.title]) }
<h3>Please selecte/deselect plugins to be loaded by the server.</h3>
<form method='POST' action="?step=${ page.nextPage() }">
<% page.getPlugins().each { %>
<label for='${it.getName()}'>${it.getLabel() ?: defPlugins[it.getBeanName()] ?: it.getBeanName()}</label>
<input name='${it.getName()}' type='checkbox' ${ it.mayBeEnabled() ? "" : "disabled" } ${ (it.mayBeEnabled() && it.isSelected(it.getBeanName())) ? "checked" : "" } /><% if (!it.mayBeEnabled()) { %><span style="color: red;">${it.getCause()}</span><% } %>
<br/>
<div style='padding-top: 1em'></div>
<% } %>
	   
<div style='padding-top: 1em'></div>
<button type="submit">Next</button>

</form>
${ util.include('footer') } 