<%  
    def tmp = [
		configType:'--gen-config-def',
		virtualDomains: tigase.util.DNSResolver.getDefaultHostname(),
		admins: 'admin@' + tigase.util.DNSResolver.getDefaultHostname(),
		adminPwd: 'tigase',
		dbType: 'Derby',
		advancedConfig : false
	] + config;
    def title = 'Basic Tigase server configuration'
    
	tmp.each { k,v ->
		if (request.getParameter(k)) {
			tmp[k] = request.getParameter(k);
		}
	}
	config.clear();
	config.putAll(tmp);
%>
${ util.include('header', [title:'Setup: ' + title]) }
<h3>On this panel you can specify basic configuration settings for the Tigase server.</h3>
<h3>Based on your selection here more configuration options might be presented later on. After the configuration is complete init.properties file will be created.</h3>
<h3>You can optionally restart the server at the end of the process if you like.</h3>
<form method='GET' >
<input type='hidden' name='step' value='${Integer.parseInt(currentStep)+1}'/>
<div style='padding-top: 1em'></div>
<label for='configType'>Configuration type:</label>
<select name='configType'>
<% [
    [ value:'--gen-config-def', label:'Default installation' ],
    [ value:'--gen-config-all', label:'Default plus extra components' ],
    [ value:'--gen-config-sm', label:'Session Manager only' ],
    [ value:'--gen-config-cs', label:'Network connectivity only' ]
   ].each {
 %>
    <option value='${it.value}' ${ it.value == config.configType ? 'selected' : '' } >${it.label}</option>
<% } %>
</select>
<br/>
<div style='padding-top: 1em'></div>
<label for='virtualDomains'>Your XMPP (Jabber) domains</label>
<input name='virtualDomains' type='text' size='30' value='${config.virtualDomains}' />
<br/>
<div style='padding-top: 1em'></div>
<label for='admins'>Server administrators</label>
<input name='admins' type='text' size='30' value='${config.admins}' />
<br/>
<div style='padding-top: 1em'></div>
<label for='adminPwd'>Admin password</label>
<input name='adminPwd' type='password' size='30' value='${config.adminPwd}' />
<br/>
<div style='padding-top: 1em'></div>
<label for='dbType'>Select database</label>
<select name='dbType' id='dbType' onchange="
	var select = document.getElementById('dbType');
	for (var i=0; i<select.children.length; i++) {
    var it = select.children[i];
    if (it.value == select.value) {
		var warn = document.getElementById('dbTypeWarning');
		warn.innerHTML = it.getAttribute('warning') || '';
	}
}
">
<% [
	[ value:'Derby', label:'Derby (built-in database)' ],
	[ value:'MySQL', label:'MySQL' ],
	[ value:'PostgreSQL', label:'PostgreSQL' ],
	[ value:'SQLServer', label:'SQLServer', warning:'You have selected MS SQL Server as your database. While we provide you, for easy install, with open-source jTDS JDBC driver allowing to connect to MS SQL Server, we recommend using JDBC driver from Microsoft.' ],
	[ value:'Other', label:'Other...' ]
   ].each {
 %>
 <option value='${it.value}' ${ config.dbType == it.value ? 'selected' : '' } ${it.warning ? 'warning="' + it.warning + '"' : ''} >${it.label}</option>
<% } %>
</select><span id='dbTypeWarning' style='color: red; font-size:0.8em;'></span>
<br/>
<div style='padding-top: 1em'></div>
<label for='advancedConfig'>Advanced configuration options</label>
<input name='advancedConfig' type='checkbox' value='${ !(!(config.advancedConfig)) }' />

<div style='padding-top: 1em'></div>
<button type="submit">Next</button>

</form>
${ util.include('footer') } 