${ util.include('header', [title:'Setup: ' + page.title]) }
<h3>This panel offer advanced configuration options. Please do not change them unless you know what you are doing.</h3>
<script>
	var checkACS = function() {
		var acsRequired = false;
		["pubsub","muc"].forEach(function(name) {
			var el = document.getElementById("id-" + name);
			if (el != null) {
				acsRequired |= el.checked || false;
			}
		});
		document.getElementById("acsComponent").disabled = !document.getElementById("clusterMode").checked || (document.getElementById("clusterMode").checked && acsRequired);

		if (document.getElementById("acsComponent").checked) {
			document.getElementById("acsComponent").checked = document.getElementById("clusterMode").checked;
		} else {
			document.getElementById("acsComponent").checked = document.getElementById("clusterMode").checked && acsRequired;
		}
		document.getElementById("acs-warn").style.display = (document.getElementById("clusterMode").checked && acsRequired) ? "inline" : "none";
	};
	var exclusiveComponents = [
	    [ 'message-archive', 'unified-archive' ]
	];
	var checkComponent = function() {
	    checkACS();

	    exclusiveComponents.forEach(function(list) {
            var sel = list.map(function(cmpId) {
                return document.getElementById('id-' + cmpId);
            });
            sel = sel.reduce(function(prev, el) {
                if (!prev) {
                    prev = 0;
                }
                if (el && el.checked) {
                    prev++;
                }
                return prev;
            },0);

            var error = sel > 1;
            list.forEach(function(cmpId) {
                var el = document.getElementById('id-' + cmpId + '-error');
                if (el) {
                    el.style.display = error ? "inline" : "none";
                    var listCopy = list.slice();
                    listCopy = listCopy.map(function(id) {
                        return document.getElementById('id-' + id);
                    });
                    listCopy = listCopy.filter(function(x) { return !!x; });
                    listCopy = listCopy.map(function(x) { return x.previousElementSibling.innerHTML; });
                    el.innerHTML = '<br/>Only one of components ' + listCopy.join(', ') + ' should be active at the same time!';
                }
            });
        });

	};
</script>
<form method='POST' action="?step=${ page.nextPage() }">
<div style='padding-top: 1em'></div>
<h3>Select optional components to run:</h3><% page.getOptionalComponents().each { %>
<label for='${it.getName()}'>${it.getLabel()}</label>
<input name='${it.getName()}' type='checkbox' id='id-${it.getBeanName()}' ${ it.isSelected(it.getBeanName()) ? 'checked' : '' } onclick='checkComponent();'/><span style="color: red; display: none;" id="id-${it.getBeanName()}-error"></span>
<br/>
<div style='padding-top: 1em'></div>
<% } %>
<h3>Cluster configuration</h3><% def q = page.getQuestion('clusterMode') %>
<label for='${q.getName()}'>Do you want your server to run in the cluster mode?</label>
<input name='${q.getName()}' id="clusterMode" type='checkbox' ${ q.isSelected("true") ? 'checked' : '' } onclick='
checkACS();
'/>
<br/>
<div style='padding-top: 1em'></div><% q = page.getQuestion('acsComponent') %>

<label for='${q.getName()}'>Tigase Advanced Clustering Strategy (ACS) Component</label>
<input name='${q.getName()}' id='acsComponent' type="checkbox" ${ q.isSelected("true") ? "" : "disabled"} ${ q.isSelected("true") ? 'checked' : '' } /><span id="acs-warn" style="color: red; display: none;"><br/>Warning: Tigase ACS is required for PubSub and MUC components to work and cannot be disabled!</span>
	   
<div style='padding-top: 1em'></div>
<button type="submit">Next</button>

</form>
<script>
	checkACS();
</script>
${ util.include('footer') } 