<%
def stateStyle = { stateIn ->
	def state = (stateIn instanceof String) ? stateIn : stateIn.name();
	if ('ok' == state) {
		return "color: green;";
	} else if ('error' == state) {
		return "color: red;";
	} else if ("warning" == state || "skipped" == state) {
		return "color: orange;";
	}
	return "";
}

def stateName = { state ->
	return state.name().toUpperCase();
}
%>
${ util.include('header', [title:'Setup: ' + page.title]) }
<h3>You have selected database with URI = ${setup.config.getDatabaseUri()}</h3>
<table>
	<% page.loadSchema().values().iterator().next().each { entry -> %>
	<tr><td>${entry.name}</td><td style="${stateStyle(entry.result)}">${stateName(entry.result)}</td></tr>
	<% if (entry.result.name() != 'ok') { %><tr><td colspan='2' style="padding: 5px 15px;font-size: smaller;">${entry.message?.replace('\n', '<br/>')}</td></tr><% } %>
	<% } %>
</table>
<form method='POST' action="?step=${ page.nextPage() }">

<div style='padding-top: 1em'></div>
<button type="submit">Next</button>

</form>
${ util.include('footer') } 